<p>home works!</p>
<form [formGroup]="searchForm">
  <input type="text" id="queryString" formControlName="queryString">
  <button type="button" (click)="search()">Submit</button>
</form>

<section *ngIf="getAllHousingLocations.length > 0">
  <!-- <app-housing-location [housingLocation]="getAllHousingLocations[0]"></app-housing-location> -->
  <!-- <app-housing-location [housingLocation]="getAllHousingLocations[1]"></app-housing-location> -->
  <ul>
    <li *ngFor="let housingLocation of getAllHousingLocations">
      <a
        [routerLink]="['detail', housingLocation['id']]"
        >Read more
        <app-housing-location
          [housingLocation]="housingLocation"
        ></app-housing-location>
      </a>
    </li>
  </ul>
</section>

<div *ngIf="getAllHousingLocations.length == 0">
  <p style="color: red;">No Data</p>
</div>
